.App {
  text-align: center;
  margin: 0 auto
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.main {
  height: calc(100vh - 80px)
}


.gallery {
  display: grid;
  margin: 0px 80px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 25vw);
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rotate90 {
  transform:          rotate(90deg);
  -ms-transform:      rotate(90deg);
  -moz-transform:     rotate(90deg);
  -webkit-transform:  rotate(90deg);
  -o-transform:       rotate(90deg);
}

#prodigy {
  background-color: #4d98ff
}

.li-special {
  display: flex;
  flex-basis: 100%;
  padding-left: 50px
}

.text {
  text-align: left;
  line-height: 1.8
}

.font-manjari {
  font-family: 'Manjari', sans-serif
}

.center-text {
  text-align: center
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 32%;
  max-width: 32%;
  padding: 0 8px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5
}

h1, h2, h3, h4, h5, h6 {
  /* display: inline-block; */
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5
}


.nav-home {
  padding-left: 50px;
  width: 150px;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  vertical-align: center;
  font-size: 20pt
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: transparent
  /* background-color: #fbf7fc */

  /* #D4D5DA */
}

.nav-links {
  display:flex;
  list-style: none;
}

.nav-item a {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  color: black;
}

.nav-item:hover a {
  color: #000000;
  font-weight: 600
}


.logo-size {
  width: 80px;
}

.footer {
  display: flex;
  padding: 0px 80px;
  justify-content: space-between;
  border-top: 1px solid #e5d08f;
  /* background-color: #cacbce; */
  height: 60px;
  color:  black;
  
}

#canterbury {
  background-color: #a8bfb0
}


@media screen and (max-width:830px){
    .nav--responsive{
        height:60px;padding:0 10px
    }
    .nav--responsive.opened{
        z-index:11
    }
    .nav--responsive.opened .menu{
        display:block
    }
}


ul {
    list-style-type: none;
    padding: 0 40px
} */


#container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -275px;
    margin-left: -500px;
}
#canvas{
  border:solid 3px #333;
  border-radius:10px;
}

.card {
  border: 10px solid;
  border-color: 	#e3d4b6;
  border-radius: 8px;
  margin: 20px 50px 80px 50px;
  padding: 20px 20px;
}

.panel {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  
}

.info {
  padding: 10px 10px;
  margin: 10px 40px;
  width: 30%;
  border-top: 2px solid;
  border-color: #e1dfdf;
  text-align: left;
}

.info-pic {
  padding: 10px 10px;
  margin: 10px 40px;
  width: 30%;
  /* border: 2px solid; */
  /* border-color: silver; */
  text-align: left;
}

img {
  max-width: 100%;
}

.letter {
  font-size: 50px;
  width: 40px;
  border: 3px solid;
  border-color: #cacbce;
  padding: 20px 20px;
  margin: 5px 0px;
  background-color: #e1dfdf;
}

.space {
  color: transparent;
  background-color: transparent !important;
}

.thin {
  width: 10px;
}

.block {
  /* font-size: 50px; */
  padding: 20px 50px;
  width: 150px;
  margin: 5px 0px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 80px;
  padding: 40px 40px;
  border: 10px solid;
  border-color: #e5d08f;
  background-color: #cacbce;
}

.leaf {
  display: flex;
  padding: 100px 100px;
  
}

.leaf-text {
  margin-top: 0px;
  max-width: 400px;
  text-align: left;
  line-height: 2;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 20px;
}

.leaf-image {
  width: 100%;
  height: auto;
}

.leaf-outer {
  background: linear-gradient(to bottom,  #cacbce 0%,#cacbce 50%,#e1dfdf 50%,#e1dfdf 100%);
  margin: 40px 80px;
}

.pl-50 {
  padding-left: 50px;
}

.pt-20 {
  padding-top: 20px;
}

.leaf-text-caption {
  margin-top: 20px;
  max-width: none;
}

.leaf-title {
  color: white;
  /* text-shadow: 3px 3px black; */
}