.App {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  /* max-width: 1500px; */
  font-size: 20px;
  line-height: 1.5;
  padding: 0px 30px;
  background: linear-gradient(90deg, rgba(238,174,202,0.4) 0%, rgba(233,228,148,0.4) 100%);
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}
.col-100 {
  flex: 0 0 100%;
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%; */
    max-width: 100%;
}

@media screen and (min-width: 1024px) {
  .col-lg-33 {
    flex: 0 0 33.3%!important;
    max-width: 33.3%!important;
  }
}

.view {
  /* max-width: 1500px; */
}

.main {
  height: calc(100vh - 100px);
  overflow-y: hidden;

}


.gallery {
  display: grid;
  margin: 0px 80px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 25vw);
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rotate90 {
  transform:          rotate(90deg);
  -ms-transform:      rotate(90deg);
  -moz-transform:     rotate(90deg);
  -webkit-transform:  rotate(90deg);
  -o-transform:       rotate(90deg);
}

#prodigy {
  background-color: #4d98ff
}

.li-special {
  display: flex;
  flex-basis: 100%;
  padding-left: 50px
}

.padding {
  padding-left: 20px;
}

.text {
  text-align: left;
  line-height: 1.8
}

.font-manjari {
  font-family: 'Manjari', sans-serif
}

.center-text {
  text-align: center
}

.column {
  flex: 32%;
  max-width: 32%;
  padding: 0 8px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5
}


.nav-home {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  vertical-align: center;
  /* font-size: 20pt */
}

a:visited {
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: transparent

}

.nav-links {
  display:flex;
  list-style: none;
  align-content: flex-end;
}

.nav-item a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.nav-item:hover a {
  color: #000000;
  font-weight: 600
}

.footer {
  display: flex;
  padding: 0px 80px;
  justify-content: space-between;
  border-top: 1px solid #e5d08f;
  height: 60px;
  color:  black;
  
}
/* background-color: #a8bfb0 */

@media screen and (max-width:830px){
    .nav--responsive{
        height:60px;padding:0 10px
    }
    .nav--responsive.opened{
        z-index:11
    }
    .nav--responsive.opened .menu{
        display:block
    }
}


ul {
    list-style-type: none;
    padding: 0 40px
} 

#canvas{
  border:solid 3px #333;
  border-radius:10px;
}

.card {
  border: 10px solid;
  margin-bottom: 100px;
  border-color: 	#e3d4b6;
  border-radius: 50px;
  padding: 20px 20px;
  background-color: white;
  /* max-width: 800px; */
}

.panel {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  
}

.info {
  padding: 10px 10px;
  margin: 10px 40px;
  width: 30%;
  border-top: 2px solid;
  border-color: #e1dfdf;
  text-align: left;

  
}

.info-pic {
  padding: 10px 10px;
  margin: 10px 40px;
  width: 30%;
  /* border: 2px solid; */
  /* border-color: silver;  */
  text-align: left;
}

img {
  max-width: 100%;
}

.letter {
  font-size: 50px;
  width: 40px;
  background-color: rgba(238, 174, 202, 0.4);
  padding: 20px 20px;
  margin: 5px 5px;
}

.letter .hoverImage {
  background-color: rgba(238, 174, 202, 0.8);
 }

.space {
  color: transparent;
  background-color: transparent !important;
}

.block {
  padding: 20px 50px;
  width: 150px;
  margin: 5px 0px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 80px;
  padding: 40px 40px;
}

.leaf-outer {
  background: linear-gradient(to bottom,  #cacbce 0%,#cacbce 50%,#e1dfdf 50%,#e1dfdf 100%);
  margin: 40px 80px;
}

.project {
  padding: 50px 80px;
  max-width: 800px;
}

.project-image {
  size: cover
}

